/* media quries */
@media screen and (max-width:480px) {
    .nav-button {
        display: block;
    }

    .logo {
        width: 150px;
        height: 150px;
        padding: 5px;
    }

    #categories {
        order: 5;
        flex-direction: column;
        min-width: 100%;
    }

    .page-header {
        padding-left: 10px;
        padding-right: 10px;
    }
}