body {
    background-color: black;
    color: white;
    margin: 0px;
}

.logo {
    width: 150px;
    height: 150px;
    padding: 5px;
}
.page-header {
    background-color: rgb(83, 83, 83);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}
.navigation a {
    color:rgb(44, 38, 38);
    text-decoration: none;
    padding: 15px;
    font-size: 150%;
}

.navigation { 
    display:flex;
}

.nav-button {
    background-color: transparent;
    border-color: transparent;
    display: none;
}

